ul
  list-style-type: none
  padding-left: 0

li
  margin: 0
    
.job-post
    cursor: pointer
    display: flex
    height: 60px
    
.job-img
    width: 55px
    display: flex
    align-items: center  
    
.company-logo
    object-fit: contain
    width: 45px
    height: 45px
    
.job-post:hover
    text-decoration: none
  
.job-info
    cursor: pointer
    display: flex
    flex-direction: row
    align-content: flex-start
    text-decoration: none
    height: 60px
    width: 100%
    border-bottom: 1px solid #dadada
    
.job-info > span
    margin: 0 10px 0 0
    display: flex
    align-items: center  
    
.job-info span:first-child
    font-family: Lato, serif
    font-weight: 900
    color: #383838
    margin-left: 10px
    margin-right: 15px 
    
.job-info span:last-child
    margin-top: 10px
    margin-bottom: 10px
    margin-right: 0
    margin-left: auto
    color: #383838         
