.job-post
    cursor: pointer
    display: flex
    flex-direction: row
    align-content: flex-start
    
.job-post > div
    margin: 10px
    
.job-post div:last-child
    margin-left: auto
    
.job-post__company
    font-weight: 600
    color: #444444
