body
    background: #fff
    color: #576366
    
header 
    border-bottom: 1px solid #c3c3c3

h1
    font-family: 'Josefin Sans', sans-serif
  
legend
    border-bottom: 1px solid #c3c3c3
    padding-bottom: 0.5rem
    margin-bottom: 2rem
    
#main-title
    font-size: 2.0rem
    
.login-form
    width: 25rem
    margin-top: 8rem

.control-label
    font-weight: 600
    
.narrow-input
    width: 40rem