body
    background: #fff
    color: #576366
    
header 
    border-bottom: 1px solid #c3c3c3

h1
    font-family: 'Josefin Sans', sans-serif
    
#main-title
    font-size: 2.0rem
    
.form
    width: 25rem
    margin-top: 8rem